@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
  }
  .header .div-2 {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .hero {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .hero .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .hero .div-4 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
  .hero .div-2 {
    border-color: rgba(253, 43, 43, 0.12);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(253, 43, 43, 0.12);
    width: 1px;
    height: 480px;
  }
  .hero .column {
    width: 100%;
  }
  .hero .div-5 {
    margin-top: 40px;
  }
  .hero .polaroid {
    padding-left: 20px;
  }
  .hero .div-7 {
    margin-bottom: 40px;
  }
  .hero .div-11 {
    margin-top: 40px;
  }
  .hero .column-2 {
    width: 100%;
  }
  .hero .div-18 {
    max-width: 100%;
    margin-top: 40px;
  }
  .hero .div-22,
  .hero .div-23 {
    white-space: initial;
  }
  .about-me {
    max-width: 100%;
    padding: 0 20px;
  }
  .about-me .div-2,
  .about-me .column {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
  .about-me .div-3,
  .about-me .div-6,
  .about-me .div-9,
  .about-me .div-12 {
    margin-top: 40px;
    white-space: initial;
  }
  .about-me .div-4,
  .about-me .div-7,
  .about-me .div-10,
  .about-me .div-13 {
    white-space: initial;
  }

  .primary-project {
    max-width: 100%;
    margin-top: 20px;
  }
  .primary-project .column,
  .primary-project .column-2 {
    width: 100%;
  }
  .primary-project .div-3 {
    margin-top: 10px;
  }
  .primary-project .projectAction {
    margin-top: 40px;
  }
  .primary-project .div-10 {
    margin-top: 34px;
  }
  .projectList {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Full width on mobile */
  }
  .modal-content {
    width: 96% !important;
    height: 98% !important;
    border: 0 !important;
    padding: 2% !important;
    margin: 0 !important;
  }
  .modal-content .modal-action-bar{
    box-shadow: 0 0 3px #677a8491;
    width: 97% !important;
    left: 0;
    top: 0;
    padding-right: 3% !important;
  }
}