.space-mono-regular {
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-weight: 700;
  font-style: normal;
}
.hide{
  display: none !important;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
  line-height: 1.5rem;
  color: #1A0633;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-top:64px ;
  overflow-x: hidden;
  min-width: 363px;
  background-color: #F0F3F6;
}
body a{
  color: #7586F0;
}
.fixed-element {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

.header {
  flex-wrap: wrap;
  z-index: 999;
  display: flex;
  width: 100%;
  gap: 0;
  top: 0;
  padding: 0 4%;
  background: #F0F3F6;
  position: fixed;
}
.header .img {
    margin: 3px 0;
    height: 65px;
    object-position: center;
    width: auto;
    cursor: pointer;
}
.actionsContainer {
    padding: 24px 0;
    text-align: left;
}
.button {
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  color: #030426;
  font-weight: 600;
  border-radius: 50px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}
.button.primary{
  background: #C2CAFA;
  font-weight: 600;
}
.button.secondary{
  background: #A3F2CA;
  font-weight: 600;
}
.footer{
  font-size: 14px;
  background: #fff;
  padding: 22px;
  color: #8e8c93;
  text-align: center;
}
.menu-options {
  width: auto;
  justify-content: end;
  display: flex;
  gap: 0%;
  flex: 1;
  margin: auto 0;
}
.menu-options .selected{
  color: #7586F0;
}
.menu-options a:hover{
  color: #7586F0;
}
.menu-options a {
  padding: 1%;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: none;
  color: rgba(41, 43, 74, 1);
  transition: color 0.3s ease-in-out;
}
.full-container{
  display: block;
  width: 100%;
}
.hero {
  z-index: 10;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.hero .container {
  margin: auto 0;
  padding: 30px 60px;
  width: 100%;
  text-align: left;
}
.hero .div-4 {
  gap: 20px;
  display: flex;
}
.hero .column,
.hero .column-3{
  flex-grow: 1;
  line-height: normal;
  margin-left: 0px;
}
.hero .heroText {
  flex-grow: 2;
  line-height: normal;
  margin: auto;
}
.hero .lefty {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 2px 0;
}
.hero .righty {
  flex-grow: 1;
  flex-direction: column;
  padding: 2px 0;
  text-align: right;
}
.hero .righty img{
  width: 75%;
}
.hero .polaroid {
  overflow: hidden;
  width: 188px;
  padding: 10px 7px 10px;
  max-width: 100%;
}
.hero .polaroid img,
.hero .asterisco img,
.hero .postIt img,
.hero .rocket img,
.hero .ux img,
.hero .hey img{
  width: 100%;
}
/*.modal-content strong{
    display: block;
    margin: 25px 0 0;
}*/
.hero .img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero .left-elements {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 8px 0px 20px 20px;
}
.hero .right-elements {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 8px 0px 20px 20px;
}
.hero .ux;
.hero .hey;
.hero .postIt;
.hero .rocket{
  display: flex;
}
.hero .postIt{
  margin: 30px 10px 10px 36px;
}
.hero .asterisco {
  margin: 70px 70px 10px;
  width: 140px;
}
.hero .img-2 {
  aspect-ratio: 0.26;
  object-fit: auto;
  object-position: center;
  width: 13px;
  fill: var(--NewBlack, #1A0633);
  stroke-width: 1.524px;
  stroke: #fff;
  filter: drop-shadow(0px 3.049px 3.049px rgba(0, 0, 0, 0.25));
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  align-self: start;
}

.hero .div-14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.hero .div-15 {
  display: flex;
  gap: 9px;
}
.hero .div-16 {
  background-color: #31c1ff;
  align-self: start;
  margin-top: 20px;
  width: 10px;
  height: 10px;
}
.hero .div-17 {
  background-color: #31c1ff;
  height: 10px;
}
.hero .div-18 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--NewBlack, #1A0633);
  text-align: center;
  margin: auto 0;
}
.hero .title {
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
}
.hero .description {
  text-align: left;
  margin-top: 6px;
  line-height: 1.6;
}

.about-me {
  width: 100%;
  padding: 10px 60px;
  display: table;
}
.about-me .div-2,
.about-me .column {
  gap: 13px;
  display: flex;
  width: 100%;
}
.about-me .column img{
  height: 80px;
  width: 80px;
}
.about-me .preview{
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.about-me .preview .title{
  font-size: 0.95rem;
}
.about-me .preview:hover .description{
  opacity: 1; /* Make the element visible on hover */
}
.about-me .preview .description{
  opacity: 0; /* Initially hide the element */
  transition: opacity 0.5s ease; /* Apply transition to opacity property */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding: 0 5%;
  line-height: 1.2rem;
  font-size: 0.75rem;
  text-wrap: balance;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  background-color: #fff;
}
.about-me .preview{
  justify-content: center;
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px 20px;
}
.about-me .div-7,
.about-me .div-10,
.about-me .div-13 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about-me .img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 99px;
  align-self: center;
}
.about-me .div-5,
.about-me .div-8,
.about-me .div-11,
.about-me .div-14 {
  margin-top: 12px;
}

.section-title{
    line-height: 2.5rem;
    font-size: 2.1rem;
    padding: 50px 20px 30px;
    text-align: center;
}

.contactBox{
  margin: 50px 0;
  width: 100%;
  text-align: center;
  background-color: #F0F3F6;
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single row */
  gap: 4%;
}
.contactBox .itemsList{
  padding: 0 0 30px;
}
.contactBox .title{
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 31px 0 31px 1%;
}
.contactBox .columnLeft{
  flex: 1;
  margin: auto;
  text-align: right;
  display: inline-block;
}
.contactBox .reviewContainer{
  position: relative;
  display: block;
}
.contactBox .columnLeft img{
  width: 80%;
  cursor: pointer;
}
.contactBox .reviewContainer img:hover{
  border-radius: 0 47px 47px 47px;
  box-shadow: 0 0 25px #edeef6;
}
.contactBox .reviewContainer .tooltiptext {
  font-weight: 500;
  font-size: 13px;
  visibility: hidden;
  width: 157px;
  background-color: #d4f4ea;
  color: #1A0633;
  text-align: center;
  border-radius: 36px;
  padding: 5px;
  position: absolute;
  top: 8%;
  right: -8%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contactBox .reviewContainer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.contactBox .columntRight{
  flex: 1;
  text-align: left;
}
.contactBox .item {
    display: flex;
    margin: 4px 0;
    gap: 8px;
}
.contactBox .item .linkBox,
.contactBox .item a{
  display: inline-flex;
  opacity: 0.7;
  font-size: 0.9rem;
  color: #1A0633;
  text-decoration: none;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 1% 2% 1% 1%;
  gap: 5px;
  width: auto;
  height: 38px;
  border-radius: 45px;
}
.contactBox .item .linkBox:hover,
.contactBox .item a:hover{
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
.contactBox .item .linkBox img,
.contactBox .item a img{
    width: auto;
    height: 100%;
}
.contactBox .item .linkBox.imgLink,
.contactBox .item .imgLink{
    padding: 0.5%;
}